---
title: CSS polyfills from the future
layout: default
---

{% include home-intro.html %}

{% include home-demos.html %}

{% for post in site.categories.home %}
  <section class="section top-section color-{{post.color}}" id="{{ post.uid }}" style="position: relative">
    {% if post.title %}
    <header>
      <h1><a name="{{ post.uid }}">{{ post.title }}</a></h1>
      <h2 class="subtitle">{{ post.subtitle }}</h2>
    </header>
    {% endif %}
    <div class="content">
      {{ post.content | markdownify }}
      {% if post.include %}
        {% include {{post.include}} %}
      {% endif %}
    </div>
  </section>

  {% if post.displayPromo %}
    {% include grid-promo.html %}
  {% endif %}
{% endfor %}

{% include home-video-gss.html %}

{% include made-with-love.html %}
