*, *:after, *::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.app-not-ready body {
  opacity: 0;
}

.app-ready body {
  opacity: 1;
}

body {
  overflow-x: hidden;
}

ul, menu, dir {
  list-style-type: none;
  list-style: none;
  margin: 0;
  padding: 0;
}
.content a, .link {
  position: relative;
}
.content a::after, .link::after {
opacity: 0;
-webkit-transition: top 0.3s, opacity 0.3s, -webkit-transform 0.3s;
   -moz-transition: top 0.3s, opacity 0.3s, -moz-transform 0.3s;
        transition: top 0.3s, opacity 0.3s, transform 0.3s;
}
.content a::before, .link::before,
.content a::after, .link::after {
position: absolute;
top: 110%;
left: 0;
width: 100%;
height: 2px;
background: hsl(282, 99%, 41%);
opacity: .1;
content: '';
-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
   -moz-transition: opacity 0.3s, -moz-transform 0.3s;
        transition: opacity 0.3s, transform 0.3s;
-webkit-transform: scale(0.95);
-moz-transform: scale(0.95);
transform: scale(0.95);
}
.content a:hover::before, .link:hover::before, 
.content a:hover::after,  .link:hover::after, 
.content a:focus::before, .link:focus::before, 
.content a:focus::after,  .link:focus::after   {
opacity: .3;
-webkit-transform: scale(1.1);
-moz-transform: scale(1.1);
transform: scale(1.1);
}

body {
  text-decoration: none;
  font-family: "museo-sans",sans-serif;
  font-style: normal;
  font-weight: 300;
}
em {
  font-family: "museo-sans",sans-serif;
  font-style: italic;
  font-weight: 500;
}
header, h1 {
  text-align: center;
  font-family: "adelle", georgia,serif;
  font-style: normal;
  font-weight: 400;
}
h1, h2, h3, h4, h5 {
  margin: 0;
  font-weight: normal;
}
h2 {
  font-family: "adelle", georgia,serif;
  font-weight: 400;
}
.subtitle {
  text-transform: uppercase;
  letter-spacing: .16em;  
}
.content h2 {
  /*text-transform: uppercase;
  letter-spacing: 0.1em;*/
  font-style: normal;
  text-align: center;
}
h1 {
  /*text-transform: uppercase;
  letter-spacing: 0.1em;*/
}

.content ul {  
  -webkit-column-count: 3;
     -moz-column-count: 3;
          column-count: 3;
  text-align: center;  
}

div, p, blockquote, button {
  margin: 0;
}
blockquote {
  font-family: "adelle", georgia, serif;
  font-style: italic;
  font-weight: 400;
  font-size: 1.2em;
  line-height: 1.6em;
}
ul, ol, li { 
  margin: 0;
}

small {
  font-size: .6em;
}


button {
  outline: none;
  box-shadow: none;
  padding: .2em .6em;
  background: none;
  border: 5px solid;
  font-family: "adelle", georgia, serif;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.trans {
  -webkit-transition: -webkit-transform .3s;
  -moz-transition: -moz-transform .3s;
      transition:transform .3s;
}



a {
  color: inherit;
  text-decoration: none;  
}

p a {
  font-weight: inherit;
}

/* Color Schemes
============================================================= */

button {
  color: hsl(282, 99%, 31%);
  background-color: hsl(58, 100%, 84%);
}
button:hover {
  border-color: hsl(282, 99%, 31%);
  background-color: hsl(282, 99%, 31%);
  color: hsl(58, 100%, 84%);  
}

#badge g {
  fill: #6f019e;
}
#menu-icon polygon {
  fill: #6f019e;
}

.content h2 {
  border-bottom: solid 3px hsl(58, 100%, 85%);
}
.color-c .content h2 {
  border-bottom: solid 3px hsl(282, 99%, 71%);
}

.color-a { /* yellow bg */
  background-color: hsl(58, 100%, 84%);  
  color: hsl(282, 99%, 31%);
} 

.color-a #top-home-image {
  background-image:      
    url('../assets/images/pug-purple-on-yellow.jpg');
  background-position: 
    center center;
  background-repeat: 
    no-repeat;
  background-size: 
    contain;
}

.color-b { /* white bg */
  background-color: hsl(58, 100%, 100%); 
  color: hsl(282, 99%, 31%);
} 
.color-b p, li {
  color: hsl(282, 0%, 30%);
}
.color-b blockquote {
  padding: 36px;
  border: solid 8px hsl(58, 100%, 84%);
  font-style: italic;
}

.color-c {
  background-color: #d692f3;
  color: black;
} .color-c 

blockquote {
  color: white;
}


