---
title: CSS polyfills from the future
layout: default
---


<section class="top-section color-a">
  <header>
    <h1>Using GSS</h1>
    <h2 class="subtitle">Client-side & Command-line</h2>
  </header>
</section>


{% for post in site.categories.usage %}
  <section class="section color-{{post.color}}" id="{{ post.uid }}">
    {% if post.title %}
    <header>
      <h1>{{ post.title }}</h1>
      <h2>{{ post.subtitle }}</h2>
    </header>
    {% endif %}
    <div class="content">
      {{ post.content | markdownify }}
      {% if post.include %}
        {% include {{post.include}} %}
      {% endif %}
    </div>
  </section>
{% endfor %}
