<section id="top-home-section" class="top-section color-a" style="position: relative">

  <style type="text/gss">

  body {
    #top-home-section {

      left: == ::window[left] !strong;
      x: == &[intrinsic-x];
      y: == &[intrinsic-y];
      width: == &[intrinsic-width];

      height: >= 500 !require;
      height: >= ::window[height] - $baseline !require;

      top-image-gap == 30;
      top-image-gap >= 0 !require;
      btn-vgap == 20 !require;
      other-top-image-gap >= 0 !require;
      btn-outer-gap == 0;

      .top-button {
        height: == &[intrinsic-height] !require;
        width: == &[intrinsic-width] !require;
      }

      #top-home-image {
        width: <= 325 !require;
        width: <= ::window[width] / 2 !strong;
        height: == &width * 450/409 !require;
        @h |-(&)-| in(^) gap(other-top-image-gap) !require;
      }

      intro-outer-gap == 0;

      @v |-(#top-home-image)-(#top-title)-(#top-subtitle)-(#top-button-install)-20-(#top-button-docs)-|
          in(&) gap($baseline) outer-gap(intro-outer-gap) !strong;

      @h |-(#top-button-install)-(#top-button-source)-| in(&) gap(btn-vgap) outer-gap(btn-outer-gap) {
        &top == :next[top];
      }

      #top-button-docs[center-x] == &[center-x];

      #top-title {
        height: == &[intrinsic-height] !require;
        @h |-(&)-| in(^) gap($col-size);
        padding-bottom: == $baseline;
        font-size: == $title-font-size;
        padding: == 0;
        color: #fdf9ad;
      }

      #top-subtitle {
        height: == &[intrinsic-height] !require;
        left: == $content-left !require;
        right: == $content-right !require;
        text-align: center;
        font-style: italic;
        font-size: == $subtitle-font-size;
        color: #784e78;
      }
    }
  }

  </style>

  <div id="top-home-image"></div>

  <h1 id="top-title">Grid Style Sheets 2.0</h1>
  <h3 id="top-subtitle" class="large-font">GSS reimagines CSS layout & replaces the browser’s layout engine with one that
    harnesses the Cassowary Constraint Solver — the same algorithm Apple uses to compute native layout.</h3>

  <a href="/usage" class="top-button button" id="top-button-install">Install</a>
  <a href="//github.com/gss/engine" class="top-button button" id="top-button-source">Source</a>
  <a href="/guides/ccss" class="top-button button" id="top-button-docs">Documentation</a>

</section>
