    {% include navigation.html %}

    <script src="bower_components/analytics/analytics.min.js"></script>
    <script>
      analytics.init({
        AdRoll: {
          advId: 'MW5HZIP5UVFRZNJVKSPCR4',
          pixId: '2DYOCKCHRVCTZGO3SGMR5U'
        },
        AdWords: {
          conversionId: '994059725',
          events: {
            signup: 'D-nsCMvAgAkQzcuA2gM'
          }
        },
        'Facebook Ads': {
          events: {
            signup: 6016570978404
          }
        },
        'Twitter Ads': {
          events: {
            signup: 'l4ks1'
          }
        }
      });

      analytics.page();
    </script>

    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/rxjs/dist/rx.lite.min.js"></script>

    <script src="bower_components/signup-form/index.js"></script>
    <script>
      var SignupForm = require('signup-form');

      new SignupForm({
        betaId: 4620,
        useTemplate: false, // use our own markup because of GSS
        onSuccess: function(emailAddress) {
          analytics.identify({
            email: emailAddress
          });

          analytics.track('signup');
        }
      });
    </script>

    <script type="text/javascript">
    adroll_adv_id = "MW5HZIP5UVFRZNJVKSPCR4";
    adroll_pix_id = "2DYOCKCHRVCTZGO3SGMR5U";
    (function () {
    var oldonload = window.onload;
    window.onload = function(){
        __adroll_loaded=true;
        var scr = document.createElement("script");
        var host = (("https:" == document.location.protocol) ? "https://s.adroll.com" : "http://a.adroll.com");
        scr.setAttribute('async', 'true');
        scr.type = "text/javascript";
        scr.src = host + "/j/roundtrip.js";
        ((document.getElementsByTagName('head') || [null])[0] ||
        document.getElementsByTagName('script')[0].parentNode).appendChild(scr);
        if(oldonload){oldonload()}};
    }());
    </script>
    <script src="//platform.twitter.com/oct.js" type="text/javascript"></script>
    <script type="text/javascript">
        twttr.conversion.trackPid('l4ki6');
    </script>
    <noscript>
    <img height="1" width="1" style="display:none;" alt="" src="https://analytics.twitter.com/i/adsct?txn_id=l4ki6&p_id=Twitter" />
    <img height="1" width="1" style="display:none;" alt="" src="//t.co/i/adsct?txn_id=l4ki6&p_id=Twitter" />
    </noscript>
  </body>
</html>
