<!DOCTYPE html>
<html lang="en" class="app-not-ready">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }} | {{ site.title }}</title>
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="stylesheet" href="../style/pygments.css" type="text/css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="../style/styles.css" type="text/css" media="screen" title="no title" charset="utf-8">
        
    <script type="text/javascript" src="//use.typekit.net/les8uug.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    
  </head>
  <body class="style-a">
    <script src="../js/script.js" type="text/javascript" charset="utf-8"></script>    
    <script>
    GSS_CONFIG = {
      workerURL: "../bower_components/gss/worker/gss-solver.js"
    }
    </script>
    <script src="../bower_components/gss/browser/gss.js" type="text/javascript" charset="utf-8"></script>  
    {{ content }}
    {% include navigation.html %}
    {% include analytics.html %}
  </body>
</html>
